<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{{Header.header_name}}'s Portfolio</title>
  <link href="/static/img/letter-t.png" rel="icon">

  <!-- Vendor CSS Files -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">

  <link href="/static/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="portfolio.html">{{Header.header_name}}'s Portfolio</a></h1>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#home">Home</a></li>
          <li><a class="nav-link scrollto" href="#education">Education</a></li>
          <li><a class="nav-link scrollto" href="#skills">Skills</a></li>
          <li><a class="nav-link scrollto" href="#experience">Experience</a></li>
          <li><a class="nav-link scrollto" href="#projects">Projects</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
    </div>
  </header>

  <!-- ======= Header Section ======= -->
  {% if Header.header_image %}
  <div id="home" class="hero route bg-image" style="background-image: url({{Header.header_image.url}})">
  {% else %}
  <div id="home1" class="hero route bg-image" style="background-image: url(/static/img/image_not_found.png)">
  {% endif %}
    <div class="overlay-itro"></div>
    <div class="hero-content display-table">
      <div class="table-cell">
        <div class="container">
          <h1 id="header_name" class="hero-title mb-4">I am {{Header.header_name}}</h1>
          <p id="header_subtitle" class="hero-subtitle">{{Header.header_subtitle}}</p>
          <p id="header_attr" class="hero-subtitle"><span class="typed" data-typed-items="{{Header.header_attr}}"></span></p>
        </div>
      </div>
    </div>
  </div>

  <main id="main">

    <!-- ======= Education Section ======= -->
    <section id="education" class="">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="title-box text-center">
              <h3 class="title-a">
                Education
              </h3>
              <div class="line-mf"></div>
            </div>
          </div>
          <div class="col-12">
            <div class="outer-box">
              <div class="row d-flex">
                {% for edu in Education %}
                <div class="col-md-4 d-flex align-items-stretch">
                  <div class="education-box box-shadow-full">
                    <h4 class="title-s">{{ edu.title }}</h4>
                    <p><strong>Institute:</strong>{{ edu.institution }}</p>
                    <p><strong>Address:</strong>{{ edu.address }}</p>
                    <p><strong>Field of Study:</strong>{{ edu.field_of_study }}</p>
                    <p><strong>Marks:</strong>{{ edu.marks }}</p>
                    <p><strong>Duration:</strong>{{ edu.duration }}</p>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="title-box text-center">
              <h3 class="title-a">Skills</h3>
              <div class="line-mf"></div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="outer-box">
            <div class="row d-flex">
              <div class="row">
                <div class="col-sm-12">
                  <div class="skills-box outer-box">
                    <h4 class="title-s">Soft Skills</h4>
                    <table class="skills-table">
                      {% for soft_skill in SoftSkill %}
                      <tr>
                        <td>{{ soft_skill.skill_name }}</td>
                        <td>
                          <div class="skill-bar" style="background-color: {{soft_skill.skill_hex_color}}; width: {{soft_skill.skill_percentage}}%;">
                            <span class="skill-percentage">{{soft_skill.skill_percentage}}%</span>
                          </div>
                        </td>
                      </tr>
                      {% endfor %}
                    </table>
                  </div>
                </div>

                <div class="col-sm-12">
                  <div class="skills-box outer-box">
                    <h4 class="title-s">Hard Skills</h4>
                    <table class="skills-table">
                      {% for hard_skill in HardSkill %}
                      <tr>
                        <td>{{hard_skill.skill_name}}</td>
                        <td>
                          <div class="skill-bar" style="background-color: {{hard_skill.skill_hex_color}}; width: {{hard_skill.skill_percentage}}%;">
                            <span class="skill-percentage">70%</span>
                          </div>
                        </td>
                      </tr>
                      {% endfor %}
                    </table>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ======= Experience Section ======= -->
    <section id="experience" class="">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="title-box text-center">
              <h3 class="title-a">Experience</h3>
              <div class="line-mf"></div>
            </div>
          </div>
        </div>
      
        <div class="row">
          <div class="col-sm-12">
            <div class="experience-box outer-box">
              <div class="company-logo">
                {% if Experience.company_logo %}
                  <img src="{{ Experience.company_logo.url }}" alt="Company Logo" style="width: 100%; height: 100%; object-fit: contain">
                {% else %}
                  <img src="/static/img/dummy.png" alt="Dummy Company Logo">
                {% endif %}
              </div>
              <div class="company-info">
                <h4 class="company-head">Company Name:</h4>
                <p class="company-value">{{Experience.company_name}}</p>
                <h4 class="company-head">Designation:</h4>
                <p class="company-value">{{Experience.designation}}</p>
                <h4 class="company-head">Duration:</h4>
                <p class="company-value">{{Experience.duration}}</p>
                <h4 class="company-head">Sector:</h4>
                <p class="company-value">{{Experience.sector}}</p>
                <h4 class="company-head">Website:</h4>
                <p class="company-value"><a href="{{Experience.website}}" target="_blank">{{Experience.website}}</a></p>
              </div>
              <div class="gallery">
                <h4 class="company-head">Gallery</h4>
                <div class="image-grid">
                  {% for image in ExperienceImage %}
                  {% if image %}
                  <div class="image-item">
                    <img src="{{ image.image.url }}" alt="Image for Experience" style="width: 100%; height: 100%; object-fit: contain">
                  </div>
                  {% else %}
                  <img src="/static/img/image_not_found.png" alt="Image Not Found" style="width: 100%; height: 100%; object-fit: contain">
                  {% endif %}
                  {% endfor %}
                  <!-- Add more images as needed -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ======= Projects Section ======= -->
    <section id="projects" class="">
      <div class="container">
          <div class="row">
              <div class="col-sm-12">
                  <div class="title-box text-center">
                      <h3 class="title-a">Projects</h3>
                      <div class="line-mf"></div>
                  </div>
              </div>
          </div>
          {% for project in Projects %}
          <div class="row">
              <div class="col-sm-12">
                  <div class="project-box outer-box">
                      <h4 class="title-s">{{project.project_name}}</h4>
                      <p class="project-description">{{project.project_description}}</p>
                      <p class="status">Status: {{project.status}}</p>
                      <p class="project-link"><a href="{{project.project_link}}" target="_blank">View Project</a></p>
                  </div>
              </div>
          </div>
          {% endfor %}
      </div>
  </section>
  
  

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="title-box text-center">
              <h3 class="title-a">Contact</h3>
              <div class="line-mf"></div>
            </div>
          </div>
        </div>
    
        <div class="row">
          <div class="col-sm-12">
            <div class="contact-box outer-box">
              <form id="contact-form" method="post" action="{% url 'submit' %}">
                {% csrf_token %}
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="text" class="form-control" id="name" name="name" placeholder="Your Name" required>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="email" class="form-control" id="email" name="email" placeholder="Your Email" required>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" required>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <textarea class="form-control" rows="5" id="message" name="message" placeholder="Message" required></textarea>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <input type="hidden" class="form-control" id="to_person" name="to_person" value="{{Header}}">
                    </div>
                  </div>
                  <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-primary">Send Message</button>
                  </div>
                </div>
              </form>

              <div class="socials col-sm-12 text-center">
                  <ul>
                    <li><a href="{{Header.facebook}}" target="_blank"><span class="ico-circle"><i class="bi bi-facebook"></i></span></a></li>
                    <li><a href="{{Header.instagram}}" target="_blank"><span class="ico-circle"><i class="bi bi-instagram"></i></span></a></li>
                    <li><a href="{{Header.linkedin}}" target="_blank"><span class="ico-circle"><i class="bi bi-linkedin"></i></span></a></li>
                  </ul>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </section>   
    
    <footer>
      Developed by {{Header.header_name}}
    </footer>

  </main>

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/static/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/static/vendor/typed.js/typed.umd.js"></script>
  <script src="/static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/js/main.js"></script>

</body>

</html>